<p id="notice"><%= notice %></p>

<h1><%= current_user.name %>のお気に入り一覧</h1>

<table>
  <thead>
    <tr>
      <th>お気に入り</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
      <td><%= image_tag favorite.post.image.url %></td>
      <td><%= link_to '画像詳細', favorite %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '戻る', shares_path %>



