<%= form_with(model: @share, local: true,url: choose_new_or_edit ) do |form| %>
    <% if @share.errors.any? %>

    <div class="share_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="share_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "ブログ一覧画面にもどる", shares_path %>