<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @share, url: shares_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= image_tag(@share.image.url) if @share.image && @share.image.url %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "投稿する" %>

  <p>タイトル:<%= @share.title %></p>
  <p>本文:<%= @share.content %></p>
  <p>user:<%=@share.user.name %></P>

  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>

