<h1>ブログ一覧</h1>

<p><%= notice %></p>


<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>image</th>
    <th>User</th>
  </tr>

<% @shares.each do |share| %>
  <tr>
    <td><%= share.title %></td>
    <td><%= share.content %></td>
    <td><%= share.image %></td>
    <td<<%= share.user.name %></td>

    <td><%= link_to '詳細を確認する', share_path(share.id) %></td>
    <td><%= link_to "ブログを編集する", edit_share_path(share.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to 'ブログを削除する', share_path(share.id), method: :delete,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to '新しくブログを投稿する', new_share_path %>
<%= link_to 'お問い合わせ',new_contact_path %>
