<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %> 
    <%= f.hidden_field :avatar_cache %>
  </div>


  <%= f.submit "Create my account" %>
  <%= link_to "ブログ一覧画面にもどる", shares_path %>

<% end %>

