<%= form_with(model: @user, local: true,) do |form| %>
 <h1><%= @user.name %>のページ</h1>


  <p>
    <%= @user.email %>
  </p>
  <p>
    <%= @user.name %>
  </p>



  <% if @user.avatar.present? %>
    <p>
        <strong>ユーザーアイコン</strong>
        <%= image_tag @user.avatar.url %>
    </p>
  <% end %>
<% end %>


<p class="d-flex justify-content-end">
  <% if @user.id == current_user.id %>
    <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn-sm btn-success" %>
  <% end %>

  <%= link_to "ブログ一覧画面にもどる", shares_path %>

</p>


