<h1><%= @user.name %>のページ</h1>

<div class="field">
  <%= f.label :avatar %>
  <%= f.file_field :avatar %>
</div>

<% if @user.avatar? %>
  <%= image_tag @user.avatar.url %>
<% else %>
  <%= image_tag ("noavatar.png") %>
<% end %>

<p class="d-flex justify-content-end">
  <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn-sm btn-success" %>
</p>

